body {
    font-family: Arial, sans-serif;
    background-color: #f9e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.about-container {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.about-container h2 {
    margin-bottom: 20px;
}

.about-container p {
    margin-bottom: 15px;
    line-height: 1.6;
}


